<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albago.mapper.HistoryMapper">
<!-- 	<select id="getCompanyList" resultType="String">
		SELECT c_name
		FROM   company
		WHERE  c_code = #{c_code} 
	</select>

	<select id="getCompanyList" resultType="String">
		<![CDATA[
			SELECT *
			FROM   history
			WHERE  u_id = #{u_id}
			       AND h_qdate IS NULL 
		]]>
	</select> -->
	
	<select id="makeDummy" resultType="com.albago.domain.HistoryVO">
		select c_code, u_id from history where h_position='E' and to_char(h_rdate,'yyyymmdd') ='20200701'
	</select>
	
	<select id="getPay" resultType = "int">
		select h_perhour from history
		 WHERE c_code = #{c_code}
		   AND u_id = #{u_id} 
	</select>
	
</mapper>