<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albago.mapper.SalaryMapper">

	<insert id="insertSalary">
		INSERT INTO salary
		VALUES     (seq_sa_code.nextval,
		            #{c_code},
		            #{u_id},
		            #{s_code},
		            #{sa_base},
		            #{sa_wextra},
		            #{sa_nextra},
		            #{sa_oextra},
		            #{sa_hextra}) 
	</insert>
	<select id="getWeeklySumOfBase" resultType="com.albago.domain.SalaryVO">
		<![CDATA[
			SELECT SUM(sa_base) AS sa_base,
			       c_code,
			       u_id,
			       Count(*)     AS s_code
			FROM   salary
			WHERE  s_code IN (
							  SELECT s_code
			                  FROM   schedule
			                  WHERE  ( ( c_code, u_id ) IN (
			                  								SELECT DISTINCT c_code,
			                                                                u_id
			                                                FROM   history
			                                                WHERE  h_qdate IS NULL
			                                                       AND h_position != 'A'
	                                                       ) )
			                         AND s_start >= ( Trunc(SYSDATE) - ( interval '8' day ) )
			                         AND s_start < ( Trunc(SYSDATE) - ( interval '1' day ) )			                         
			                 )
			GROUP  BY c_code,
			          u_id
		]]>
	</select>
	
	<update id="setWeeklyExtra">
		<![CDATA[
			UPDATE salary
			SET    sa_wextra = #{sa_wextra}
			WHERE  s_code IN
			       (
			              SELECT s_code
			              FROM   schedule
			              WHERE  c_code = #{c_code}
					             AND    u_id = #{u_id}
					             AND    s_start>= (trunc(SYSDATE) - (interval '8' day))
					             AND    s_start < (trunc(SYSDATE) - (interval '1' day))
	               )
        ]]>
	</update>
</mapper>