<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albago.mapper.ScheduleMapper">

	<select id="getTodaysScheduleForE"
		resultType="com.albago.domain.ScheduleVO">
		select * from schedule where c_code=#{c_code} and
		u_id=#{u_id} and to_char(s_start, 'yyyy-mm-dd')=to_char(sysdate,
		'yyyy-mm-dd')
	</select>
	
	<select id="getListTwoDaysAgo" resultType="com.albago.domain.ScheduleVO">
		select * from schedule where to_char(s_start,'YYYYMMDD') = to_char(sysdate-(interval '2' day), 'YYYYMMDD')
	</select>
	
	<insert id="copyListTwoDaysAgo">
	</insert>
	
	<select id="getListByCompany" resultType="com.albago.domain.ScheduleVO">
		select * from schedule where c_code=#{c_code}
	</select>

	<update id="arrive">
		update schedule set s_arrive = sysdate where s_code =
		#{s_code} and c_code = #{c_code} and u_id=#{u_id} and s_arrive is null
	</update>

	<update id="leave">
		update schedule set s_leave = sysdate where s_code =
		#{s_code} and c_code = #{c_code} and u_id=#{u_id} and s_leave is null
	</update>

	<select id="getWeekScheduleForE"
		resultType="com.albago.domain.ScheduleVO">
		<![CDATA[
			select 
			s_code, c_code, u_id,
			to_char(s_start, 'yyyy-mm-dd hh24:mi:ss') as s_start,
			to_char(s_end, 'yyyy-mm-dd hh24:mi:ss') as s_end,
			to_char(s_arrive, 'yyyy-mm-dd hh24:mi:ss') as s_arrive,
			to_char(s_leave, 'yyyy-mm-dd hh24:mi:ss') as s_leave,
			sr_code
			from schedule where s_start >= to_date(#{s_start}, 'YYYYMMDD')
			and s_start < to_date(#{s_start},'YYYYMMDD')+(interval '7' day) and c_code=#{c_code} and u_id=#{u_id}
		]]>
	</select>

	<select id="getMonthScheduleForE"
		resultType="com.albago.domain.ScheduleVO">
		select * from schedule where to_char(s_start,'YYYYMM') =
		#{s_start} and c_code=#{c_code} and
		u_id=#{u_id}
	</select>

	<insert id="insertSchedule">
		insert into schedule (s_code, c_code, u_id, s_start,
		s_end
		<if test="sr_code != null">
			, sr_code
		</if>
		) values
		(seq_s_code.nextval, #{c_code}, #{u_id},
		to_date(#{s_start},'YYYY-MM-DD HH24:MI:SS'),
		to_date(#{s_end},'YYYY-MM-DD HH24:MI:SS')
		<if test="sr_code != null">
			, #{sr_code}
		</if>
		)
	</insert>

</mapper>