<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albago.mapper.ScheduleRepeatMapper">

	<insert id="insertRepeat" parameterType="com.albago.domain.ScheduleRepeatVO">
		<selectKey resultType="int" keyProperty="sr_code" order="BEFORE">
			SELECT seq_sr_code.NEXTVAL
			FROM   dual 
		</selectKey>
		
		INSERT INTO schedule_repeat
		VALUES      ( #{sr_code},
		              #{c_code},
		              #{u_id},
		              To_date( #{sr_start}, 'HH24:MI:SS'),
		              To_date( #{sr_end}, 'HH24:MI:SS'),
		              #{sr_repeat}) 
	</insert>
	
	<select id="getListForCheckDuplicate" resultType="com.albago.domain.ScheduleRepeatVO">
		SELECT sr_code,
		       sr_repeat,
		       sr_start,
		       sr_end
		FROM   schedule_repeat
		WHERE  u_id = #{u_id}
		       AND c_code = #{c_code}
	</select>

</mapper>