<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albago.mapper.UserInfoMapper">
	<sql id="pw_encrypt">
		(SELECT dbms_crypto.Hash(To_clob(To_char( #{u_pw})), 1)
		 FROM   dual) 
	</sql>

	<insert id="insert">
		INSERT INTO userinfo
		            (u_id
		             , u_pw
		             , u_name
		             , u_email
		             , u_gender
		             , u_birth
		             , u_addr
		             , u_phone
		             , u_position)
		     VALUES ( #{u_id}
		     		  , <include refid="pw_encrypt"></include>
		              , #{u_name}
		              , #{u_email}
		              , #{u_gender}
		              , #{u_birth}
		              , #{u_addr}
		              , #{u_phone}
		              , #{u_position} ) 
	</insert>

	<select id="selectSingle" resultType="com.albago.domain.UserInfoVO">
		SELECT *
		  FROM userinfo
		 WHERE u_id = #{u_id} 
	</select>

	<select id="selectIdByNameEmail" resultType="String">
		SELECT u_id
		  FROM userinfo
		 WHERE u_name = #{u_name}
		   AND u_email = #{u_email} 
	</select>

	<select id="getCountByIdPw" resultType="int">
		SELECT Count(u_id)
		  FROM userinfo
		 WHERE u_id = #{u_id}
		   AND u_pw = <include refid="pw_encrypt"></include>
		   AND u_id != 'admin'
	</select>

	<select id="getCountByNameEmail" resultType="int">
		SELECT Count(u_id)
		  FROM userinfo
		 WHERE u_name = #{u_name}
		   AND u_email = #{u_email} 
	</select>

	<select id="getCountByIdNameEmail" resultType="int">
		SELECT Count(u_id)
		  FROM userinfo
		 WHERE u_id = #{u_id}
		   AND u_name = #{u_name}
		   AND u_email = #{u_email} 
	</select>

	<select id="getCountById" resultType="int">
		SELECT Count(u_id)
		  FROM userinfo
		 WHERE u_id = #{u_id} 
	</select>

	<update id="updatePw">
		UPDATE userinfo
		   SET u_pw = <include refid="pw_encrypt"></include>
		 WHERE u_id = #{u_id}
	</update>
	
	<update id="updateAddr">
		UPDATE userinfo
		   SET u_addr = #{u_addr}
		 WHERE u_id = #{u_id} 
	</update>
	
	<update id="updatePhone">
		UPDATE userinfo
		   SET u_phone = #{u_phone}
		 WHERE u_id = #{u_id} 
	</update>

	<delete id="delete">
		DELETE userinfo
		 WHERE u_id = #{u_id} 
	</delete>
	
	<select id="isPwCorrect" resultType="int">
		SELECT Count(u_id) 
			FROM   userinfo 
			WHERE  u_id = #{u_id} 
       			AND u_pw = <include refid="pw_encrypt"></include>
	</select>
</mapper>